@model List<Hirafeyat.ViewModel.SellerOrderViewModel>

@{
	ViewData["Title"] = "Orders";
	Layout = "~/Views/AdminProducts/_DefaultLayout.cshtml";
}
<partial name="~/Views/Seller\_TopPartialSeller.cshtml" />
<div class="container-fluid px-xl-5 py-4">
	<h2 class="text-center text-dark mb-4 font-weight-bold">Seller Orders</h2>

	<div class="table-responsive">
		<table class="table table-bordered table-hover align-middle text-center">
			<thead class="table-primary text-dark font-weight-bold">
				<tr>
					<th>Customer</th>
					<th>Date</th>
					<th>Address</th>
					<th>Product</th>
					<th>Quantity</th>
					<th>Product Status</th>
					<th>Action</th>
					<th>Details</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var order in Model)
				{
					foreach (var item in order.Items)
					{
						<tr>
							<td>@order.CustomerName</td>
							<td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
							<td>@order.Address</td>
							<td>@item.ProductTitle</td>
							<td>@item.Quantity</td>
							<td>
								<span class="badge bg-secondary">@item.ProductStatus</span>
							</td>

							<td>
								@if (order.Status == OrderStatus.Cancelled || order.Status == OrderStatus.Delivered)
								{
									<form asp-action="RemoveOrder" method="post" asp-route-orderId="@order.OrderId" onsubmit="return confirm('Are you sure you want to remove this order?');">
										<button type="submit" class="btn btn-danger btn-sm">Remove</button>
									</form>
								}
								else
								{
									<form asp-action="UpdateProductStatus" method="post" class="d-flex flex-column align-items-center">
										<div class="w-50 d-flex flex-column align-items-center">
											<input type="hidden" name="orderItemId" value="@item.OrderItemId" />

											<select name="newStatus" class="form-select form-select-lg mb-2" style="min-width: 200px;">
												@foreach (var status in Enum.GetValues(typeof(Hirafeyat.Models.OrderStatus)))
												{
													<option value="@status" selected="@(item.ProductStatus == (OrderStatus)status ? "selected" : null)">
														@status
													</option>
												}
											</select>

											<button type="submit" class="btn btn-primary btn-sm w-50">Save</button>
										</div>
									</form>

								}
							</td>

							<td>
								<a asp-action="OrderDetail" asp-controller="Seller" asp-route-id="@order.OrderId" class="btn btn-outline-primary btn-sm">Details</a>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>
