@model List<Product>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hirafyat - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />


    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">H</span>irafyat</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                @* <form action=""> *@
                @*     <div class="input-group"> *@
                @*         <input type="text" class="form-control" placeholder="Search for products"> *@
                @*         <div class="input-group-append"> *@
                @*             <span class="input-group-text bg-transparent text-primary"> *@
                @*                 <i class="fa fa-search"></i> *@
                @*             </span> *@
                @*         </div> *@
                @*     </div> *@
                @* </form> *@
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a asp-action="MyList" asp-controller="Favorite" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a asp-action="guestcart" asp-controller="Cart" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">

            <partial name="navhome_partialview" />
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">My Favourites </h1>

        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">

                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100 fixed-image" src="@item.ImageUrl">

                            <!-- زر الفيفورت بشكل مضبوط -->

                        </div>

                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">@item.Title</h6>
                            <div class="d-flex justify-content-center">
                                <h6>$@(item.Price - 200)</h6>
                                <h6 class="text-muted ml-2"><del>$@item.Price</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">

                            <form method="post" asp-area="Customer" asp-controller="Favorite" asp-action="RemoveFromFavourites">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button class="btn btn-outline-danger ">Remove </button>
                            </form>
                            @* <form method="post" asp-area="Customer" asp-controller="Favorite" asp-action="RemoveFromFavourites"> *@
                            @*     <input type="hidden" name="id" value="@item.Id" /> *@
                            @*     <button class="btn btn-outline-danger ">Remove </button> *@
                            @* </form> *@

                            <!-- فورم الإضافة للسلة -->
                            <form method="post" asp-area="Customer" asp-controller="Cart" asp-action="AddToCart">
                                <input type="hidden" name="productId" value="@item.Id" />
                                <button class="btn btn-success ">Add to Cart</button>
                            </form>
                        </div>

                    </div>

                </div>


            }

        </div>
    </div>
</body>

</html>
